.Login{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2%;
	}

.input{
    padding-top: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
font-size: 18px;
margin: 20px;
/*line-height: 1.3333333;*/
border-radius: 3px;
}
.label{
	font-size: 1em;
	float: left;

}
.buttons{
 margin: 200px;	

}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
#One , #Two{
	display:none;
}

.Prof{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
h1{
	margin : 10px;
}
.Meeting{
	padding: 20px;

}
label{
	font-size: 25px;
	font-family: Lucida;
	padding: 5px;
    
}
.form{
	display: flex;
	flex-direction: row;
	width: 40%;
}
.select{
	width: 20%;
}
.comment{
margin: 10px;
}
#comment-message-input{
	bottom: 20px;
	 padding: 10px;
	 margin: 5px;
	 margin-bottom: 10px;
}
#comment-message-submit{
	padding: 10px;
	margin: 5px;
	color: teal;
}
.meetingadd{
	padding: 10px;
	margin: 10px;
    color: teal;
    size: 5px;
}

.meetingsadd{
	margin: 10px;
	padding: 10px;
}
.update{
	margin: 5px;
	padding: 8px;
	font-size: 15px;
	color: white;
	background-color: teal;
	border-radius: 5px; 
}
a:hover{
	text-decoration: none;
	color: white;

}
.commentsb{
	margin: 10px;
	padding: 10px;
	font-size: 15px;
	background-color: yellow;
}